@import "../../styles/settings.scss";

.card {
  background: $color-light;
  border-radius: $radius;
  padding: $base-size;
  margin: 0 0 $base-size 0;
}
.favorite {
  float: right;
  border: 0;
  background: transparent;
  cursor: pointer;
  color: $color-dark;
}

.favoriteActive {
  color: $color-warning;
}
.remove {
  float: right;
  border: 0;
  background: transparent;
  cursor: pointer;
  color: $color-warning;
  margin-right: 10px;
}
